# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
POSTGRES_USER=viva
POSTGRES_PASSWORD=viva
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=viva
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
APP_PORT=8000
WORKER_URL=http://localhost:8082
JWT_SECRET=your-secret-key
